extends layout
script.
  var download = function() {
    console.log('download')
    //var d =  new ProcessoDownloadClass() ; //.download();
    await d.download();
    console.log(d);
  }
  var extract = function() {
    console.log('extract')
    //var d =  new ProcessoDownloadClass() ; //.download();
    await d.extract();
    console.log(d);
  }
block content
  h1= title
  p Bem vindo #{title}
  button(onclick='download()') Download
  button(onclick='extract()') Extrair
