

<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>Cadastro de clientes</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>
  <button type="button" nz-button nzType="default" class="btn btn-warning btn-sm" (click)="novoCliente()">Novo</button>
            
    <nz-table ngSkipHydration="false" #basicTable [nzData]="clientes">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Celular</th>
          <th>E-mail</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody ngSkipHydration="false" >
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.name }}</td>
          <td>{{ cliente.cellphone }}</td>
          <td>{{ cliente.email }}</td>
          <td>
            <button type="button" nz-button nzType="default" class="btn btn-warning btn-sm" (click)="editCliente(cliente)">Editar</button>
            <button type="button" nz-button nzType="default"  class="btn btn-danger btn-sm ml-1" (click)="deleteCliente(cliente)">Deletar</button>
         
          </td>
        </tr>
      </tbody>
    </nz-table>
    <app-modalcliente [cliente]="cliente" (fechou)="fechouModal()" (salvou)="salvou($event)"  [isVisible]="showModal" ngSkipHydration="true"></app-modalcliente>
